/*Importações*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
body{
    margin: 0;
    background-color: #EEE;
    overflow-y: hidden;
}
.ead-titulo{
    line-height: 40px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
}
.topo{
    height: 40px;
    background-color: #2d3691;
    color:#fff;
}

.topo a {
    color: #fff;
    text-decoration: none;
    
 }

 .btn-sair{
     float: right;
     width: 60px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 .btn-sair:hover{
     background-color: #FFF;
     color:#333;
     font-weight: bold;
  
 }
 .topousuario{
     float: right;
     margin-right: 20px;
     height: 40xp;
     line-height: 40px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: bold;
 }
 .turmasitem{
     width: 150px;
     
     height: 100vh;
     background-color: #2d3691;
 }

 .turmasitem li {
     list-style: none;
     padding: 5px;
     width: 140px;
     height: 25px;
     border-bottom: 1px solid #fff;
     
 }
 
 .turmasitem li:hover{
    background-color: #ffd634;
    color: #2d3691;
}

 .turmasitem li a{
     text-decoration: none;
     color: #fff;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }

 .turmainfo{
     height: 50px;
     background-color: #ffd634;
     text-align: center;
     line-height: 60px;
     font-family: 'Baloo Tammudu 2', cursive;
     margin-top: -20px;
 }
 .left-aulas{

    width: 20%;
    min-height: 300px;
    float: left;
    background-color: #DDD;
    overflow-y: scroll;
 }
 .left-aulas a{
    text-decoration: none;
    color: #000;
 }
.disciplina{
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background-color: #2d3691;
    color: #fff;
}

 .right-conteudo{
     width: 80%;
     min-height: 300px;
     float: left;
     background-color: #fff;
     overflow-y: scroll;
 }
 .aula{
     height: 30px;
     line-height: 30px;
     padding-left: 30px;
     font-weight: bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif

 }
 .aula:hover{
     background-color: #AAA;
 }

 /*Formulario de duvida */
 .titulo-duvida{
    margin-left:10px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .form_duvida{
     padding-left: 10px;
     padding-right: 10px;
 }
 .form_duvida textarea{
    width: 100%;
    height: 150px; 
   
 }

 .alert_quest{
     text-align: center;
 }
 .ok_aula{
     margin-left: 10px;
 }
