body{
    margin: 0;
    background-color: #EEE;
}
.topo{
    height: 40px;
    background-color: #333;
    color:#fff;
}

.topo a {
    color: #fff;
    text-decoration: none;
    
 }

 .topo a div{
     float: right;
     height: 40px;
     line-height: 40px;
     padding-right: 20px;
     padding-right: 20px;
 }

 .top a div:hover{
     background-color: #555;
 }
 .topousuario{
     float: right;
     margin-right: 20px;
     height: 40xp;
     line-height: 40px;
 }